@media screen and (max-width: 1400px){
    
}
@media screen and (max-width: 1300px){
    .container{
        margin-inline: 100px;
    }
    nav ul.nav-items{
        display: none;
    }
    nav .call-us{
        order: 2;
        margin: 0;
        text-align: center;
    }
    nav .btn-bars{
        display: block;
    }    
    nav .viewboard{
        display: block;
    }
    #repairs .box-content{
        margin-inline: 195px;
    }
    #EnergyInnovators .header-content .cards .card{
        width: 45%;
    }
}

@media screen and (max-width: 1200px){
    .container{
        margin-inline: 70px;
    }   
    header .head-page .home-text-header h1{
        font-size: 38px;
        margin-bottom: 20px;
    }     
    header .head-page .home-text-header p{
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 20px;
    }    
    #repairs .box-content{
        margin-inline: 105px;
    }    
    #EnergyInnovators .header-content .header{
    width: 50%;
    }    
    #EnergyInnovators .header-content .cards{
        width: 50%;
    }
    #EnergyInnovators .header-content .cards .card{
        width: 100%;
    }
}

@media screen and (max-width: 992px){
    .container{
        margin-inline: 40px;
    }
    header .head-page .home-text-header h1{
        font-size: 28px;
        margin-bottom: 12px;
    }
    header .head-page .home-text-header p{
        font-size: 16px;
        margin-bottom: 12px;
        line-height: 20px;
    }
    #installers h1{
        font-size: 37px;
        margin: 0px 0px 20px;
    }
    #installers p{
        margin: 0px 0px 30px;
    }
    #installers ul{
        font-size: 16px;
    }
    #ecoPower div{
        width: 55%;
    }
    #ecoPower div h2{
        font-size: 30px;
        margin: 0 0 24px;
        letter-spacing: 0;
    }
    #ecoPower div p{
        font-size: 18px;
        margin: 0 0 24px;
    }
    #SolarKits .Solar-Kits-cards{
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 40px;
    }
    #SolarKits .Solar-Kits-cards .card{
    width: 80%;
    }
    #SolarKits .Solar-Kits-cards .card .inner{
        padding: 0 !important;
    }   
    #repairs .box-content{
        margin-inline: 45px;
    }     
    #repairs .box-content div h2{
        font-size: 32px;
    }    
    #repairs .box-content div p{
        font-size: 17px;
    }    
}

@media screen and (max-width: 768px){
    .container{
        margin-inline: 40px;
    }
    header .head-page .home-slider{
        left: 0;
        right: 0;
    }
    header .head-page .home-text-header{
        left: 0;
        right: 0;
        text-align: center;
        width: auto;
    }
    header .head-page .home-text-header h1{
        font-size: 20px;
        margin-bottom: 9px;

    }
    header .head-page .home-text-header p{
        font-size: 14px;
        margin-bottom: 9px;
    }      
    header .head-page .home-text-header .head-btns{
        display: flex;
        justify-content: center;
    }     
    header .head-page .home-text-header .head-btns button{
        padding: 8px 16px;
    }    
    #installers .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
    }
    #installers .solar-team{
        width: 100%;
        margin: 0;
    }
    #installers picture{
        width: 100%;
        margin-left: -35px;
    }
    #ecoPower div{
        width: 60%;
    }
    #ecoPower div h2{
        font-size: 24px;
        margin: 0 0 12px;
    }
    #ecoPower div p{
        font-size: 14px;
        margin: 0 0 12px;
    }
    #SolarKits .Solar-Kits-header{
        margin: 0 20px 40px;
    }
    #SolarKits .Solar-Kits-cards .card{
        width: 90%;
    }
    #repairs .box-content{
        margin-inline: 30px;
    }
    #repairs .box-content div{
        padding: 20px;
    }    
    #repairs .box-content div h2{
        font-size: 28px;
        margin: 0 0 16px;
    }    
    #repairs .box-content div p{
        font-size: 14px;
    }
    #EnergyInnovators .header-content{
        flex-wrap: wrap;
    }
    #EnergyInnovators .header-content .header picture{
        margin-inline: auto;
    }
    #EnergyInnovators .header-content .cards{
        width: 100%;
    }
    #EnergyInnovators .header-content .header{
    width: 100%;
    text-align: center;
    }
}

@media screen and (max-width: 576px){
    .container{
        margin-inline: 20px;
    }    
    header .head-page .home-text-header h1{
        font-size: 16px;
        margin-bottom: 8px;
    }
    header .head-page .home-text-header p{
        font-size: 12px;
        margin-bottom: 8px;
    }
    header .head-page .home-text-header .head-btns{
        display: flex;
    }     
    header .head-page .home-text-header .head-btns button{
        padding: 8px 12px;
        font-size: 13px;
    }
    header .head-page .home-text-header .head-btns .call{
        margin-right: 10px;
    }
    header .head-page img{
        height: 300px;
    }
    #ecoPower div button{
    padding: 8px 28px;    
    font-size: 12px;    
    }
    #SolarKits .Solar-Kits-header{
        margin: 0 10px 25px;
    }
    #SolarKits .Solar-Kits-header h2{
        font-size: 32px;
        margin: 0 0 14px;
    }
    #SolarKits .Solar-Kits-header p{
        font-size: 14px;
        margin: 0 0 14px;
    }
    #SolarKits .Solar-Kits-cards .card{
        width: 95%;
    }    
}

@media screen and (max-width: 499px){   
    nav .call-us{
    display: none;
    }
    #ecoPower div{
        width: auto;
    }
    #ecoPower div h2{
        margin: 0 0 6px;
        font-size: 14px;
        font-weight: 400;
    }
    #ecoPower div p{
        font-size: 8px;
        margin: 0 0 6px;
    }    
    #ecoPower div button{
    padding: 4px 18px;    
    font-size: 8px;    
    }    
        #SolarKits .Solar-Kits-cards .card{
        width: 100%;
    }  
        #repairs .box-content div{
        padding: 10px;
    }  
    #repairs .box-content div h2{
        font-size: 18px;
        margin: 0 0 5px;
    }
    #repairs .box-content div p{
        font-size: 12px;
    }
    #EnergyInnovators .header-content .header h2{
        font-size: 30px;
    }
    #EnergyInnovators .header-content .header p{
        font-size: 16px;
    }
}
