body{
    margin: 0;
    font-family: "Inter", sans-serif;
}
*, ::after, ::before{
    box-sizing: border-box;
}
:root{
    --main-color:#0B9586;
}
.container{
    margin-inline: 150px;
}
.hidden {
  display: none !important;
}
img{
    width: 100%;
    display: block;
}
nav{
    background-color: var(--main-color);
    padding-block: 1rem;
    letter-spacing: 0.94px;
}
nav .nav-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav picture.logo{
    display: block;
    width: 157px;
    order: 1;
}
nav picture.logo img{
   	mix-blend-mode: multiply;
}
nav ul.nav-items{
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-transform: capitalize;
    order: 2;
}
nav ul.nav-items .active,nav ul.nav-items li:hover{
    background-color: #0000000F;
    border-bottom: 3px solid #0000004D;
    font-weight: 600;
}
nav ul.nav-items li{
    padding: 8px 28px;
    border-radius: 8px;
    cursor: pointer;
}
nav .call-us{
    text-align: right;
    color: white;
    margin-left: 67.67px;
    order: 3;
}
nav .call-us p{
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
}
nav .call-us span{
    font-weight: 700;
    font-size: 24px;

}
nav .btn-bars{
    display: none;
    cursor: pointer;
    font-size: 40px;
    color: white;
    order: 4;
}
/* for media screen */
nav .viewboard{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000a2;
    display: none;
}
nav .viewboard .nav-group-m{
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top:20%;
    left: 40px;
    right: 40px;
    text-align: left;
    font-size: 18px;
    text-transform: capitalize;
    padding-inline: 24px;
}
nav .viewboard .nav-group-m ul.nav-items-m{
    list-style: none;
    padding: 0;
}
nav .viewboard .nav-group-m ul.nav-items-m li{
    border-bottom: 1px solid #00000057;
    padding: 15px;
    cursor: pointer;

}
nav .viewboard .nav-group-m ul.nav-items-m .active, nav .viewboard .nav-group-m ul.nav-items-m li:hover{
    font-weight: 600;
    background-color: #0000000F;
    border-bottom: 3px solid #0000004D;
    border-radius: 8px;
}
nav .viewboard .close-nav{
    color: white;
    font-size: 34px;
    position: absolute;
    right: 80px;
    top:14%;
    cursor: pointer;
}
