body{
    margin: 0;
    font-family: "Inter", sans-serif;
}
*, ::after, ::before{
    box-sizing: border-box;
}
:root{
    --main-color:#0B9586;
}
.container{
    margin-inline: 150px;
}
.hidden {
  display: none !important;
}
img{
    width: 100%;
    display: block;
}
nav{
    background-color: var(--main-color);
    padding-block: 16px;
    letter-spacing: 0.94px;
}
nav .nav-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav picture.logo{
    display: block;
    width: 157px;
    order: 1;
}
nav picture.logo img{
   	mix-blend-mode: multiply;
}
nav ul.nav-items{
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-transform: capitalize;
    order: 2;
}
nav ul.nav-items .active,nav ul.nav-items li:hover{
    background-color: #0000000F;
    border-bottom: 3px solid #0000004D;
    font-weight: 600;
}
nav ul.nav-items li{
    padding: 8px 28px;
    border-radius: 8px;
    cursor: pointer;
}
nav .call-us{
    text-align: right;
    color: white;
    margin-left: 67.67px;
    order: 3;
}
nav .call-us p{
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
}
nav .call-us span{
    font-weight: 700;
    font-size: 24px;

}
nav .btn-bars{
    display: none;
    cursor: pointer;
    font-size: 40px;
    color: white;
    order: 4;
}
/* for media screen */
nav .viewboard{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000a2;
    display: none;
    z-index: 99999;
}
nav .viewboard .nav-group-m{
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top:20%;
    left: 40px;
    right: 40px;
    text-align: left;
    font-size: 18px;
    text-transform: capitalize;
    padding-inline: 24px;
}
nav .viewboard .nav-group-m ul.nav-items-m{
    list-style: none;
    padding: 0;
}
nav .viewboard .nav-group-m ul.nav-items-m li{
    border-bottom: 1px solid #00000057;
    padding: 15px;
    cursor: pointer;

}
nav .viewboard .nav-group-m ul.nav-items-m .active, nav .viewboard .nav-group-m ul.nav-items-m li:hover{
    font-weight: 600;
    background-color: #0000000F;
    border-bottom: 3px solid #0000004D;
    border-radius: 8px;
}
nav .viewboard .close-nav{
    color: white;
    font-size: 34px;
    position: absolute;
    right: 80px;
    top:14%;
    cursor: pointer;
}
/* header page */
header .head-page{
    position: relative;
    color: white;
}
header .head-page .home-slider{
    position: absolute;
    top: 10.31%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 21.67px;
}
header .head-page .home-slider span{
    font-weight: 400;
    size: 18px;
    letter-spacing: 0.94px;
}
header .head-page .home-slider .slide-bar{
    width: 220.59px;
    height: 3.75px;
    background-color: #575757;
    position: relative;
}
header .head-page .home-slider .slide-bar .slide-rate{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40.35%;
    background-color: white;
}
header .head-page .home-text-header{
    position: absolute;
    top: 26.92%;
    width: 49%;

}
header .head-page .home-text-header h1{
    font-size: 52px;
    font-weight: 600;
    letter-spacing: -2%;
    margin-bottom: 24px;
}
header .head-page .home-text-header p{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 24px;
}
header .head-page .home-text-header .head-btns{
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 8%;
}
header .head-page .home-text-header .head-btns button{
    padding: 12px 34px;
    border-radius: 35px;
    border: 0;
}
header .head-page .home-text-header .head-btns .call{
    color: white;
    background-color: #3CAB90;
    margin-right: 24px;
}
header .head-page .home-text-header .head-btns .request{
background-color: #FFBB1C;
}